/* setting for sub header */
/*! CSS Used from: https://secure.img1-fg.wfcdn.com/bundler/eng_ca/cb1360e16ee23cf1c2d/sass/wayfair_int_ca/desktop/top_nav_essentials~sass/wayfair_int_ca/desktop/_header/header_module_styles~sass/wayfair_int_ca/desktop/_header/header/sf-header~sass/wayfair_int_ca/desktop/_components/text/pl-text~sass/wayfair_int_ca/desktop/_components/button/pl_button~sass/wayfair_int_ca/desktop/_components/visually-hidden/pl-visually-hidden~sass/wayfair_int_ca/desktop/_components/fluid-image/pl-fluid-image~sass/wayfair_int_ca/desktop/_components/link/pl_link~sass/wayfair_int_ca/desktop/_components/menu-list/pl-menu-list~sass/wayfair_int_ca/desktop/_components/wrapper/pl-wrapper~sass/wayfair_int_ca/desktop/_components/heading/pl-heading~sass/wayfair_int_ca/desktop/nav_header/components/menu/nav_header_popular_categories~sass/wayfair_int_ca/desktop/_components/icon-v2/pl-base-icon~sass/wayfair_int_ca/desktop/_components/full_page/pl_full_page~sass/wayfair_int_ca/desktop/_components/text_input/pl_text_input~sass/wayfair_int_ca/desktop/_components/placeholder/pl_placeholder~sass/wayfair_int_ca/desktop/_components/_decoupled/grid/pl-decoupled-grid~sass/wayfair_int_ca/desktop/_components/image/core-image~sass/wayfair_int_ca/desktop/nav_header/components/utility_bar/nav_header_cart_item~sass/wayfair_int_ca/desktop/_components/card_v2/pl_card_v2~sass/wayfair_int_ca/desktop/_components/timer/pl-timer~sass/wayfair_int_ca/desktop/_components/base-box/pl-base-box~sass/wayfair_int_ca/desktop/nav_header/components/utility_bar/nav_header_utility_bar_item~sass/wayfair_int_ca/desktop/_components/loading/pl_loading~sass/wayfair_int_ca/desktop/nav_header/components/utility_bar/nav_header_cart_content~sass/wayfair_int_ca/desktop/nav_header/components/utility_bar/nav_header_cart_button~sass/wayfair_int_ca/desktop/_components/_internal/input_validation_text/pl_input_validation_text~sass/wayfair_int_ca/desktop/nav_header/components/popover/nav_header_popover~sass/wayfair_int_ca/desktop/_components/_internal/float_label/pl_float_label~sass/wayfair_int_ca/desktop/header/countdown_timer.css?wfdc=iad */
button,h3,li,ul{margin:0;padding:0;}
button,img{border:0;}
button{background:0;}
ul{list-style:none;}
@media (max-width:767.9px){
.DepartmentItem{min-width:-webkit-fit-content;min-width:-moz-fit-content;min-width:fit-content;background-color:#f5f5f5;margin:8px 4px;padding:4px 8px;border-radius:50vw;}
.DepartmentItem:focus,.DepartmentItem:hover{background-color:#bbbbbf;}
.DepartmentItem:first-of-type{margin-left:0;}
.DepartmentItem:last-of-type{margin-right:0;}
}
.DepartmentItem-link,.DepartmentItem-link--complimentaryButton{display:block;white-space:nowrap;color:#211e22;text-decoration:none;text-align:center;}
@media screen and (min-width:768px){
.DepartmentItem-link,.DepartmentItem-link--complimentaryButton{padding:8px 12px;font-size:13px;position:relative;z-index:0;}
.DepartmentItem-link--complimentaryButton:after,.DepartmentItem-link:after{content:"";opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";border-radius:50vw;background-color:#f5f5f5;position:absolute;left:-4px;top:4px;bottom:4px;right:-4px;z-index:-1;-ms-transform:scale(.9);transform:scale(.9);transition:transform .22s cubic-bezier(.22,.61,.36,1);}
.DepartmentItem-link--complimentaryButton:focus,.DepartmentItem-link--complimentaryButton:hover,.DepartmentItem-link:focus,.DepartmentItem-link:hover{color:#7f187f;text-decoration:underline;}
.DepartmentItem-link--complimentaryButton:focus:after,.DepartmentItem-link--complimentaryButton:hover:after,.DepartmentItem-link:focus:after,.DepartmentItem-link:hover:after{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-ms-transform:scale(1);transform:scale(1);}
}
@media screen and (min-width:900px){
.DepartmentItem-link,.DepartmentItem-link--complimentaryButton{padding-left:8px;padding-right:8px;min-width:auto;}
}
@media screen and (min-width:1024px){
.DepartmentItem-link,.DepartmentItem-link--complimentaryButton{padding-left:8px;padding-right:8px;}
}
@media screen and (min-width:1280px){
.DepartmentItem-link,.DepartmentItem-link--complimentaryButton{font-size:inherit;padding-left:8px;padding-right:8px;}
}
.DepartmentItem-link--complimentaryButton{position:absolute;left:-9999px;}
.DepartmentItem-link--complimentaryButton:focus{left:auto;z-index:1;}
@media (any-hover:none){
.DepartmentItem .DepartmentItem-link,.DepartmentItem .DepartmentItem-link:after{transition-property:none;}
}
.DepartmentDropdown{position:absolute;top:100%;left:0;width:100%;background-color:#fff;overflow:hidden;border-top:1px solid #dfdfe1;margin:0 auto;transition-delay:.2s;visibility:hidden;}
@media screen and (min-width:1280px){
.DepartmentDropdown{border-radius:0 0 8px 8px;width:calc(100% + 32px);left:-16px;}
}
@media (any-hover:none){
.DepartmentDropdown{transition-property:none;}
}
.DepartmentDropdown-innerWrap{position:relative;z-index:1;min-height:500px;background-color:#fff;display:none;}
.DepartmentDropdown-iconContainer{position:relative;white-space:nowrap;padding-right:28px;}
.DepartmentDropdown .DepartmentDropdown-icon{position:absolute;top:50%;-ms-transform:translateY(-40%);transform:translateY(-40%);width:24px;height:24px;}
@media screen and (min-width:1280px){
.DepartmentDropdown .DepartmentDropdown-icon{width:28px;height:28px;}
}
.DepartmentDropdown-sections{z-index:2;columns:3;-ms-flex:1 0 auto;flex:1 0 auto;-ms-flex-flow:column wrap;flex-flow:column wrap;position:relative;min-height:500px;padding:12px 24px;background-color:#fff;}
.DepartmentDropdown-sections--2{columns:2;}
.DepartmentDropdown-sections--3{columns:3;}
@media screen and (min-width:960px){
.DepartmentDropdown-sections{-ms-flex:0 1 768px;flex:0 1 768px;}
}
.DepartmentDropdown-section{break-inside:avoid;position:relative;margin-bottom:16px;}
@media screen and (min-width:960px){
.DepartmentDropdown-section{max-width:348px;}
}
.DepartmentDropdown-link,.DepartmentDropdown-title{font-size:13px;}
@media screen and (min-width:1280px){
.DepartmentDropdown-link,.DepartmentDropdown-title{font-size:16px;}
}
.DepartmentDropdown-link{display:block;text-decoration:none;color:#646266;margin-bottom:5px;word-wrap:break-word;}
.DepartmentDropdown-link:focus,.DepartmentDropdown-link:hover{color:#7f187f;text-decoration:underline;}
.DepartmentDropdown-link--sectionTitle{color:#211e22;}
.DepartmentDropdown-title{display:inline-block;vertical-align:middle;}
.DepartmentDropdown-title{font-weight:700;text-transform:none;}
.DepartmentDropdown-title:focus,.DepartmentDropdown-title:hover{text-decoration:underline;}
.DepartmentDropdown-immersiveImage,.DepartmentDropdown-immersiveImage-overlay{position:absolute;top:0;right:0;bottom:0;left:0;color:transparent;}
.DepartmentDropdown-immersiveImage-overlay .pl-FluidImage-image,.DepartmentDropdown-immersiveImage .pl-FluidImage-image{margin-right:0;}
.DepartmentDropdown-immersiveImage-overlay{z-index:1;}
.DepartmentList{border-top:1px solid #dfdfe1;border-bottom:1px solid #dfdfe1;overflow-x:hidden;position:relative;}
.DepartmentList:after{content:"";background-image:linear-gradient(90deg,hsla(0,0%,100%,0),#fff);height:40px;pointer-events:none;position:absolute;right:0;bottom:0;width:24px;}
@media screen and (min-width:768px){
.DepartmentList:after{display:none;}
}
@media (max-width:767.9px){
.DepartmentList{overflow-x:auto;overflow-y:hidden;overflow:-moz-scrollbars-none;-ms-overflow-style:none;border-top:1px solid #dfdfe1;border-bottom:1px solid #dfdfe1;}
.DepartmentList::-webkit-scrollbar{display:none;background-color:transparent;}
.DepartmentList::-webkit-scrollbar-thumb,.DepartmentList::-webkit-scrollbar-track{background-color:transparent;}
}
@media screen and (min-width:768px){
.DepartmentList{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;height:auto;overflow:visible;}
}
.DepartmentList-list{display:-ms-flexbox;display:flex;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none;}
@media (max-width:767.9px){
.DepartmentList-list{padding-left:3%;}
}
.DepartmentList-list::-webkit-scrollbar{display:none;background-color:transparent;}
.DepartmentList-list::-webkit-scrollbar-thumb,.DepartmentList-list::-webkit-scrollbar-track{background-color:transparent;}
@media screen and (min-width:768px){
.DepartmentList-list{overflow-x:visible;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;max-width:700px;}
}
@media screen and (min-width:1024px){
.DepartmentList-list{max-width:none;}
}
@media screen and (min-width:1280px){
.DepartmentList-list{position:relative;}
}
.Header *,.Header :after,.Header :before{box-sizing:border-box;}
.pl-FluidImage{position:relative;-ms-flex-positive:1;flex-grow:1;}
.pl-FluidImage-image{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-width:100%;max-height:100%;}
.pl-BaseIcon{width:28px;height:28px;display:inline-block;fill:currentColor;vertical-align:middle;pointer-events:none;}
.pl-BaseIcon--scalable{stroke:currentColor;stroke-width:1px;}
/*! CSS Used from: https://secure.img1-fg.wfcdn.com/bundler/897c552eab91911eaaa45146f3b58007/sass/wayfair_int_ca/desktop/corebase_responsive.css?wfdc=iad */
*,:after,:before{box-sizing:inherit;}
a{color:#7f187f;text-decoration:underline;}
button,h3,li,ul{margin:0;padding:0;}
button{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
button,img{border:0;}
button{background:0;cursor:pointer;}
button:disabled{cursor:auto;}
ul{list-style:none;}
button{font-size:100%;font-weight:400;}
nav{display:block;}
button{border-radius:0;}
img{max-width:100%;height:auto;}
a,button{-webkit-tap-highlight-color:transparent;outline:none;}